<div class="container-fluid d-flex flex-column about">
  <div id="welcome">
    <h1>Grant Kee</h1>
    <div class="row d-flex flex-sm-column flex-md-row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-4">
        <a class="btn-default" href="#about">
          <%= icon('fas', 'address-card') %>
          <h2>About</h2>
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="btn-default" href="#projects">
          <%= icon('fas', 'code') %>
          <h2>Projects</h2>
        </a>
      </div>
      <div class="col-sm-12 col-md-4">
        <a class="btn-default" href="#skills">
          <%= icon('fas', 'dumbbell') %>
          <h2>skillz</h2>
        </a>
      </div>
    </div>
  </div>
  <div id="quote" class="w-100 content-break d-flex flex-column align-items-center justify-content-center">
    <p>"Talk is cheap. Show me the code."</p>
    <p>-Linus Torvalds</p>
  </div>
  <div id="about">
    <div class="row h-100">
      <div class="col-12 col-lg-4 d-flex flex-column align-items-center pt-5">
        <div id="profile-picture" class="mb-5"></div>
        <div class="w-100">
          <h1>Grant Kee</h1>
          <h2>Software Engineer<h2>
          <div class="d-flex align-items-center w-100 justify-content-center">
            <a class="social-media mr-5" href="https://github.com/grantkee" target="_blank">
              <%= icon('fab', 'github-square') %>
            </a>
            <a class="social-media" href="https://linkedin.com/in/grantkee" target="_blank">
              <%= icon('fab', 'linkedin') %>
            </a>
          </div>
          <a href="#welcome"><h3>back to top</h3></a>
          <%
=begin%>
 <a href="#experience"><h3>Experience</h3></a>
          <a href="#services"><h3>Services</h3></a> 
<%
=end%>
        </div>
      </div>
  
      <div class="col-12 col-lg-8 d-flex flex-column align-items-center pt-5">
        <h1 class="d-lg-block d-none">About Me</h1>
        <div class="w-100 h-100 p-3">
          <p>I'm Grant Kee, and I love learning new things.</p>
          <p>I specialize in full stack web development.</p>
          <p>I'm currently developing during the day for <a href="https://www.citizenmath.com">Citizen Math</a>!</p>
        </div>
        <h1>Where I'm at in my coding journey:</h1>
        <div class="w-100 px-5 mb-5">
          <button class="accordion" data-panel="react">React</button>
          <div id="react-panel" class="panel">
            My bread and butter. I enjoy challenging myself with advanced React techniques. I often incorporate Redux with my React projects, but I've also spent a lot of time understanding hooks. I'm currently working on a personal finance app that uses React and Material-UI within a Rails app.
          </div>
          <button class="accordion" data-panel="ror">Ruby on Rails</button>
          <div id="ror-panel" class="panel">
            My main focus at work. I'm also working on a personal finance app using RoR, React, and PostgreSQL. RoR is such a powerful tool, I really want to master the basics so I can build CRUD apps in no time.
          </div>
          <button class="accordion" data-panel="java">Java</button>
          <div id="java-panel" class="panel">
            After the personal finance app is live online, I want to build it out in Java and put it on mobile. I respect Java so much, but I'm stuck on how to incorporate it more into my current projects. After my portfolio is polished a little more and I finish the web version of my current personal finance app, I will be back to Java.
          </div>
          <button class="accordion" data-panel="python">Python</button>
          <div id="python-panel" class="panel">
            I'm inspired and motivated by Python projects. I currently have a backlog of code that more directly affects my job, but I occassionally have cheat days where I let myself dabble in some Python (like building a basic blockchain to understand the technology better).
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="skills" class="w-100 content-break">
    <h1 class="mt-5 mx-auto col-12">Skillset</h1>
    <a href="#welcome">back to top</a>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= icon('fab', 'react', style: 'color: #61DBFB;')%>
        React
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        React is cool. I like DRY code and reusing components. I'm most familiar with React, but really enjoy working in the backend. I'll get there in time. For now, I'm rocking out the front end until I have enough evidence to prove where I belong.
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= icon('fab', 'github')%> 
        GitHub
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        Git/GitHub used to be super intimidating, but I never shied away from forcing myself to use the command line. Eventually, I became familiar with using the git commands, and now I feel very comnfortable with it. I approach coding with the mindset that tying my shoes used to be hard, but through repetition, all things become easier. Except naming things!
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= icon('fas', 'bug')%> 
        Debugging
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I've been debugging since day 1 and got pretty good at it. Citizen Math tasked me with debugging 60+ lesson files developed by over a dozen developers over nearly a decade. My primary goal was to bring efficiency and consistency to their project. Ultimately, I developed a CM library used by our developers and continue to advance their vision of a better education for all.
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
      <%= icon('far', 'gem', style: 'color: red;')%> 
        Rails
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I just completed the Ruby on Rails Certification from <a href="https://codecademy.com">codecademy</a>. Citizen Math is made with a rails app - as is this portfolio. I enjoy working in RoR because I can build CRUD applications quickly and efficiently. Before now, I used Node and Express for my CRUD operations.
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= icon('fab', 'digital-ocean', style: 'color:#006AFF;')%> 
        DigitalOcean
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I use DO with Citizen Math: s3cmd - space - db clusters.
      </div>
    </div>
    <%
=begin%>
 <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
      <%= image_tag('https://a0.awsstatic.com/libra-css/images/logos/aws_smile-header-desktop-en-white_59x35@2x.png', alt: 'aws') %>
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        bacon spare ribs, rump kielbasa porchetta ground round. Pork loin sirloin tri-tip pork burgdoggen. Bresaola pork loin pig tri-tip.
      </div>
    </div> 
<%
=end%>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= image_tag('https://upload.wikimedia.org/wikipedia/en/thumb/3/30/Java_programming_language_logo.svg/800px-Java_programming_language_logo.svg.png', alt: 'java') %>
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        Java is the first object-oriented language I learned. I love java! Unfortunately, without a CS degree no one has given me a chance to prove my Java skills...yet!<br><em>Java, I love you. Never change.</em>
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= icon('fab', 'sass', style: 'color:#BF4080;')%>
        SCSS
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        Wayyy more powerful than CSS. I like working with SCSS when I have to style things. I prefer working with designers (as I'm sure you can tell by this website designed 100% by me). At Citizen Math, I worked with team of designers to give me pretty pictures and turn them into websites. That's the right way to do it! Don't ask me what colors go together or what style font to use. Just tell me what it's suppose to look like, and I'll make it happen.
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= image_tag('https://www.postgresql.org/media/img/about/press/elephant.png', alt: "postgreSQL") %>
        PostgreSQL
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I'm more familiar with MySQL, but the fact that PostgreSQL is ACID compliant is too good to ignore! I'm using postgreSQL in my current project. Stay tuned for more!
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= image_tag('https://upload.wikimedia.org/wikipedia/en/e/ee/MySQL_Logo.png', alt: "MySQL") %>
        MySQL
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I was taught MySQL at Austin Coding Academy and use it to manage Citizen Math's databases. My project <a href="https://innerbeatle.com">InnerBeatle.com</a> uses MySQL too!<br><em>Dear MySQL - you were my first db language but you won't be my last. Take care of yourself.</em>
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= image_tag('https://upload.wikimedia.org/wikipedia/commons/thumb/3/35/Tux.svg/598px-Tux.svg.png', alt: "linux") %>
        Linux
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description">
        I just partitioned an old MacBook and installed Ubuntu 20.04. Yeah I know... it's a super mainstream distro, but I have to start somewhere right?? I'm working towards completing the <a href="https://www.lpi.org/our-certifications/linux-essentials-overview">Linux Essentials certification</a> from the Linux Professional Institute.
      </div>
    </div>
    <div class="row w-100 my-5">
      <div class="col-12 col-lg-3 skill-title">
        <%= image_tag('https://redux.js.org/img/redux.svg', alt: 'redux') %>
        Redux
      </div>
      <div class="col-12 col-lg-9 text-center text-lg-left skill-description mb-5">
        Passing props is pretty neat, but I prefer centralized state and logic when it comes to larger projects. I use Redux in all of my projects to gain more familiar.
      </div>
    </div>
    
  </div>
  <div id="projects" class="w-100">
    <div class="w-100">
      <h1 class="mt-5 mx-auto col-12">Previous Projects</h1>
      <a href="#welcome">back to top</a>
    </div>
    <a href="https://innerbeatle.com" class="my-3">
      <%= image_tag("https://github.com/grantkee/portfolio/blob/main/app/assets/images/the_beatles.jpg?raw=true", alt: "find your innerbeatle project", id: "innerbeatle", class: "my-5") %>
      <h1>innerbeatle.com</h1>
    </a>
    <h2>Which Beatle are you most like?</h2>
    <p class="mx-auto">React, Redux, Node, Express, REST API, JWT, bcrypt, authorization, authentication</p>
  </div>
  <div id="current-work" class="w-100 content-break">
    <div class="w-100">
      <h1 class="mt-5 mx-auto col-12">Current Project</h1>
      <a href="#welcome">back to top</a>
    </div>
    <a href="https://www.citizenmath.com" class="my-3">
      <%= image_tag("https://github.com/grantkee/portfolio/blob/main/app/assets/images/citizenmath.png?raw=true", alt: "citizen math", id: "citizen-math", class: "my-5") %>
      <h1>www.citizenmath.com</h1>
    </a>
    <h2>Math class, reimagined</h2>
    <p class="mx-auto">Ruby on Rails, ES6, SCSS, HTML5, Nightwatch, JQuery</p>
    <a href="https://www.commarts.com/webpicks/citizen-math">Featured in Communication Arts Magazine</a>
  </div>
</div>

<%= javascript_tag do %>
  const accordion = document.getElementsByClassName('accordion');

  for (let i = 0; i < accordion.length; i++) {
    accordion[i].addEventListener('click', function() {
      this.classList.toggle('active');
      const lang = this.dataset.panel;
      const panel = document.getElementById(`${lang}-panel`);
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + 'px';
      }
    });
  }
<% end %>
